@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Teko:wght@300;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: #00BFFF;
}

.links {
    color:white;
    cursor: pointer;
    padding: 2px 5px;
    margin: 0px 7px;
    border: 2.5px solid transparent;
}
.links:hover{
    text-decoration: none;
    border-radius: 7px;
    border-bottom: 2px solid white;
}

/* #a ,#b ,#c{
    border-right: 1px solid black;
} */

#nav a:hover {
    text-decoration: underline;
    color: black;
}
/* nav ends */

/* BODY STARTS */
.mainheading{
    font-family: 'Teko', sans-serif;
    font-weight: 700 !important;
}
.disimgs{
    height: 374px;
    width: 374px;
}
.leading-relaxed{
    font-family: 'Suranna', serif;
}
.content{
    padding-left: 7px;
}
.quansize{
    display: flex;
    align-items: center;
}
.extra{
    width: max-content;
    height: max-content;
    display: inline;
    
}
#jerQuantity{
    width: 50%;
}
.shorts{
    padding: 1px 25px;
    font-size: larger;
    display: inline-block;
    font-family: 'Rozha One', serif;
}
.buybox{
    justify-content: space-between;
}
input .shorts{
    width: 40px;
    height: 40px;
}
#price{
    font-family: 'Suranna', serif;
}
#buybtn{
    background-color: #00BFFF;
}
/* BODY ENDS */

/* FOOTER STARTS */
.links{
    cursor: pointer;
}
/* FOOTER ENDS */

