@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Graduate&family=Libre+Barcode+39&family=Libre+Baskerville:wght@700&family=Roboto+Condensed:wght@300&family=Rozha+One&family=Satisfy&family=Six+Caps&family=Suranna&family=Teko:wght@300;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #00BFFF;
    --secondary: black;
    --light: gray;
}
/* nav starts */
#jsfc{
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Six Caps', sans-serif; */
    /* font-family: 'Bowlby One SC', cursive; */
    font-family: 'Graduate', cursive;
    font-size: xx-large;
    font-weight: 1000;
}

.nav1 {
    /* background-color: #ff1a1a; */
    background-color: #00BFFF;
    color: whitesmoke;
    width: 100%;
    height: 80px;
    display: flex;
    font-weight: 1000;
    font-size: larger;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 2px 0px 3px grey; */
    text-align: center;
}

.nav1 .top {
    flex-basis: 50%;
    letter-spacing: 5px;
}
.logo img{
    width: 90px;
    height: 90px;
}
.links{
    cursor: pointer;
    padding: 0px 4px;
}
#a ,#b {
    border-right: 1px solid black;
}

#nav a:hover{
    text-decoration: underline;
    color: black;
}
.search{
padding-right: 17px;
}
/* nav ends */

/* body starts */
#body h3{
    font-family: 'Teko', sans-serif;
    font-size: large;
}
#body h2{
    font-family: 'Rozha One', serif;
    font-size: larger;
    font-weight: 500;
}
#body p{
    font-family: 'Graduate', cursive;
    /* font-size: large; */
}
section{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.boxs{
    margin: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.img{
    height: 250px;
    width: 250px;
    border-radius: 5px
}
@media screen and (max-width: 450px) {
   
    section{
        display: grid;
        grid-template-columns: auto ;

    }
    .boxs{
        border-bottom: 0.5px solid black;
        padding: 7px;
    }
}
/* #barcaH{
    opacity: 0.4;
} */


/* body ends */

/* footer starts */
.footlinks{
    cursor: pointer;
}
/* footer ends */


/* .buy{
    cursor: pointer;
}
#un a:hover{
    color: aliceblue;
    text-decoration: underline;
} */

footer{
    background-color: #0076CE;
}