@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Graduate&family=Kanit:ital,wght@0,700;1,600;1,700&family=Libre+Barcode+39&family=Libre+Baskerville:wght@700&family=Oswald:wght@300;400&family=Roboto+Condensed:wght@300&family=Rozha+One&family=Satisfy&family=Six+Caps&family=Suranna&family=Teko:wght@300&display=swap');

/*
 font-family: 'Bowlby One SC', cursive;
font-family: 'Graduate', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Libre Barcode 39', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rozha One', serif;
font-family: 'Satisfy', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Suranna', serif;
font-family: 'Teko', sans-serif;
 */
* {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

#head {
    font-size: x-large;
    font-weight: 700;
    color: aliceblue;
    padding: 2px 5px;
    background-color: #00BFFF;
}

.qrimg {
    display: flex;
    justify-content: center;
    align-items: center;

}

.qrimg img {
    margin: 0px;
    width: 250px;
    height: 250px;
}

.cod,
.onl {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
}

.cod {
    margin: 50px 0px 25px 0px;
}

#codbtn,
#onlbtn {
    margin: 10px;
}

.box {
    height: 50vh;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.qrbox {
    /* width: 100px;
    height: 100px; */
    height: 250px;
    display: grid;
    justify-content: center;
}

#img {
    /* width: ; */
    height: 300px;
    justify-content: center;
}

#upi {
    color: black;
    font-size: xx-large;
    font-weight: 900;
}

#upiname {
    color: white;
    font-size: larger;
    background-color: #131316;
}

.data {
    /* background-color: white; */
    padding: 15px;
}

.payedbtn{
    margin-top: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#probtn {
    cursor: pointer;
    width: fit-content;
    background-color: #00BFFF;
    text-align: center;
    color: #131316;
    padding: 7px;
    border-radius: 10px;
    font-size: larger;
    text-decoration: none;
}